html, body {
  width: 100%;  
  min-height: 100vh;
}

#dashboard-container {

  height: 100%;
  display: inline-block;
  position: relative;
  width: 100%;
}

#project-nav-container {
 

  min-height: 100vh;
  position: relative;
  background: rgb(48, 46, 64);
  min-height: 100vh;
  height: 100vh;
  display: inline-block;
  max-width: 15%;
  min-width: 200px;
  border-radius: 0px;
}

#project-management {
  vertical-align: top;

  position: absolute;
  background: linear-gradient(to bottom, rgba(182, 217, 207, 0.95), 
  rgba(0, 0, 1, 0.8)) !important;
  top: 0px;
  left: 200px;
  height: 100%;
  width: 85%;
  display: inline-block;
}



.nav-content {

  width: 100%;
  align-content: stretch;
  min-height: 100%;
}

.relative-avi-wrapper {
  
  width: 100%;
  min-height: 25%;
  border-radius: 50%;
}

.relative-nav-wrapper {

  position: absolute;
  top: 160px;
  height: 100%;
  overflow: hidden;
  min-width: 200px;
}

.avatar {
  
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50px;
  top: 40px;
  align-content: center;    
  border-radius: 50%;
}

.avi-border {

  position: absolute;
  width: 120px;
  height: 120px;   
  left: 40px;
  top: 30px;
  border-radius: 50% !important;

  background: #360033;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0b8793, #360033) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */animation: border-spin infinite 10s linear;
}.initial {
  font-size: 50px;
  height: 50px;
  color: white;
  font-family: 'Helvetica';
}

.name {

  position: relative;
  font-size: 18px;
  color: white;

}@keyframes border-spin {

  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#new-project{

  text-align: center;
  position: relative;
  font-size: 16px;
  height: 32px;
  color: skyblue;
  font-weight: bold;
  width: 100%;
  margin: 5% auto;
  max-width: 200px;
  border-width: 0px 0px 0px 0px;
  border-style: solid;
  box-shadow: 0px 1px 2px 4px linear-gradient(to top, rgb(255, 255, 255), rgba(0, 0, 3, 1)) inset !important;
  border-color: rgba(0, 0, 0, 0.05)  rgba(58,56,78,0) rgba(109,108,126, 0.00);
  background: linear-gradient(to bottom, rgba(56, 54, 75, 0.9), rgba(49, 48, 64, 1)) !important;
 
}


.not::before {
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 15px;
  margin-left: 2px;
  font-size: 20px;
  content: "\2022";
}


.selected::before {
  color: green;
  font-weight: bold;
  display: inline-block; 
  width: 15px;
  margin-left: 2px;
  font-size: 20px;
  content: "\2022";
}

ul li{

  margin-left: 40px;
  position: relative; 
  font-size: 16px;
  height: 28px;
  width: 90%;
  max-width: 160px;
  color: white;
  list-style: none;
}


#new-project:hover {
  background: linear-gradient(to bottom, rgba(37, 60, 90, 1), rgba(0, 102, 180, 0)) !important;
  
}

#new-project:active {

  background: linear-gradient(to bottom, rgba(37, 60, 90, 1), rgba(0, 102, 180, 0)) !important;
}

#plus-symbol {

  color: rgb(34, 146, 62);
  font-weight: 900;
  font-size: 24px;
}

.no-image {

  width: 400px;
  height: 65px;
  line-height: 60px;
  font-family: "Century Gothic", "Helvetica", sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #666;
  background-color: #aaa;
  text-shadow: 0px -1px 0px rgba(0,0,0,.5);
}

#grid { 

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: stretch;
  justify-items: center;
  margin-left: 2%;
  margin-right: 2%;
  overflow-y: scroll;
  height: 400px;
  scrollbar-color: rgba(7, 27, 209, 0.5) rgba(11, 19, 44, 0.8) 
}

#grid img {
  
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  width: 150px;
  height: 150px;
}

#image-tools-section {
  
  color: white;
  position: relative;
  height: 100vh;
  width: 140px;  
  font-size: 12px;
  font-weight: 700;
  align-content: center;
  display: flex;
  text-align: center;
  flex-direction: column;
}

#image-canvas-section {
  
  position: relative;
  width: calc(100%-140px);
  flex-grow: 1;
  height: 100vh;
}

.inner-icon {
    
    margin-top: 5px !important;
    margin-left: 2px;
    
}

.circle-button {
  margin-bottom: 12px;
  border-radius: 50%;
  height: 64px;
  width: 65px;
  margin-top: 30px;
  margin-left: 36px;
  margin-bottom: 10px;
  background-color: #1564B2;
  box-shadow: 1px 3px 4px 1px  rgba(26, 32, 37, 0.5);
}

 

.tool-selected ,.undo-btn:active {

  border-radius: 50%;
  height: 68px;
  width: 69px;
  margin-top: 30px;
  margin-bottom: 6px;
  background-color: rgb(8, 30, 51);
  box-shadow: 0px 0px;
	-moz-box-shadow: 0px 0px;
	-webkit-box-shadow: 0px 0px;
	-o-box-shadow: 0px 0px;
}

.circle-button-icon {

  color: white;
  font-size: 42px;
  margin: 8% 28%;
}

.numeric-box-container {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  height: 32px;
  margin-left: 12px;
}

.numeric-box-container button{
  border: none;
  box-shadow: 0px;
  width: 32px;
  height: 31px;
  font-size: 24px;
  background-color: white;
  color: #1564B2;
  font-weight: bold;
  box-shadow: -1px -1px 3px black inset;
  

}

.numeric-text-box {
  border: none;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
  font-size: 14px;
  height: 30px;
  background-color: white;
  width: 50px;
}





#image-canvas {
  width: 560px;
  height: 560px;
  margin-left: 18%;
  margin-top: 3%;
  
}

#image-canvas img {
  position: relative;
  height: 100%;
  width: 100%;
}